<div class="listing-filter-container flex">
  <div class="matches flex flex-column">
    <div class="flex flex-column flex-align-center flex-justify-center">
      <label> MATCHES FOUND </label>
      <h4>{{count || 0}}</h4>
    </div>
  </div>
  <div class="filter-holder flex  flex-justify-center">
    <div class="filter-item tx-type-container">
      <label></label>
      <div class="dropdown" ngbDropdown>
        <button class="btn btn-secondary" type="button" ngbDropdownToggle>
          {{txTypes[0]?.name}}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let txType of txTypes"
            (click)="filterMap['txType']=txType.value">
            {{txType.name}}
          </li>
        </ul>
      </div>
    </div>
    <div class="divider"></div>
    <div class="listing-type-container filter-item">
      <label>TYPE</label>
      <div class="dropdown" ngbDropdown>
        <button class="btn btn-secondary" type="button" ngbDropdownToggle>
          {{listingTypes[0]?.name}}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let listingType of listingTypes"
            (click)="filterMap['listingType']=listingType.value">
            {{listingType.name}}
          </li>
        </ul>
      </div>
    </div>
    <div class="size-type-container filter-item">
      <label>SIZE</label>
      <div class="dropdown" ngbDropdown>
        <button class="btn btn-secondary" type="button" ngbDropdownToggle>
          {{sizeTypes[0]?.name}}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let sizeType of sizeTypes"
            (click)="filterMap['sizeType']=sizeType.value">
            {{sizeType.name}}
          </li>
        </ul>
      </div>
    </div>
    <div class="move-in-type-container filter-item">
      <label>MOVE IN DATE</label>
      <input #dp="ngbDatepicker" class="form-control" ngbDatepicker
        [(ngModel)]="moveInDate" (focus)="dp.open()"/>
      <!--<ngb-datepicker #dp [(ngModel)]="dateModel">
      </ngb-datepicker>-->
      <i class="fa fa-circle"></i>
    </div>
    <div class="stay-length-type-container filter-item">
      <label>LENGTH OF STAY</label>
      <div class="dropdown" ngbDropdown>
        <button class="btn btn-secondary" type="button" ngbDropdownToggle>
          {{stayLengthTypes[0]?.name}}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let stayLength of stayLengthTypes"
            (click)="filterMap['stayLengthType']=stayLength.value">
            {{stayLength.name}}
          </li>
        </ul>
      </div>
    </div>
    <div class="location-type-container filter-item">
      <label></label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="filterMap['location']"
          placeholder="Location">
        <i class="ion-search"></i>
      </div>
    </div>
    <div class="all-filters-container filter-item flex flex-align-center
      flex-justify-center">
      <h6>All Filters</h6>
    </div>
  </div>
</div>
