<div class="message-chat" [hidden]="!isOpen.value">
  <div class="message-chat-area">
    <div class="message-chat-content" ngx-auto-scroll #chatContainer
      [ngClass]="{'column-reverse': chatMessages.length > 0}">
      <div class="message-box"
        *ngFor="let chatMessage of (chatMessages |
          orderByImpure: chatMessagesFilter)">
          <div class="message-text" *ngIf="!chatMessage?.data?.type ||
            (chatMessage.data.type === 'text')">
            <span class="message-body">{{ chatMessage?.data?.message}}</span>
            <span class="message-time">
              {{ chatMessage?.data?.timestamp | date}}
            </span>
          </div>
          <div class="" *ngIf="chatMessage.data.type === 'buy-rent'">

          </div>

          <!-- <div class="image-holder" *ngIf="chatMessage.data.type === 'image'">
            <img src="assets/imgs/loaders/ring.svg" img-cache ic-src="{{ chatMessage.data.url }}"/>
          </div> -->

      </div>
    </div>
  </div>
  <div class="message-chat-footer" >
    <div class="input-group">
      <div class="input-group-prepend">
        <button (click)="sendChatMessage(chatMessageText)"
          class="btn btn-secondary btn-sm">
            <div class="icon">
              <i class="fa fa-ellipsis-v"></i>
            </div>
        </button>
      </div>
      <!--<textarea rows="1" autosize [(ngModel)]="chatMessageText"
        class="form-control" placeholder="Type your reply here">
      </textarea>-->
      <input class="form-control" placeholder="Type your reply here"
        [(ngModel)]="chatMessageText" type="text" #chatMessageInput
        (keyup.enter)="sendMessage(chatMessageText)"
      />
      <div class="input-group-append" (click)="sendMessage(chatMessageText)">
         <button class="btn btn-secondary" type="button">
           <div class="icon">
             <i class="fa fa-location-arrow"></i>
           </div>
         </button>
      </div>
    </div>
  </div>
</div>
