<div class="listing-component" >
  <div class="listing-filter-holder" [ngClass]="{'selected': (!!selectedListing)}">
    <ngx-listing-filter [count]="listings[0]?.totalcount"
      (onSelectFilter)="onSelectFilter($event)">
    </ngx-listing-filter>
  </div>
  <div class="listing-holder flex">
    <virtual-scroll
      [horizontal]="true"
      [items]="listings"
      (update)="scrollItems = $event"
      (change)="indices = $event"
      (end)="fetchMore($event)"
      [ngClass]="{'selected': (!!selectedListing)}">
      <div  *ngFor="let listing of scrollItems; let i = index" class="inline">
        <ngx-listing-tile [listing]="listing"
          [selectedListing]="selectedListing"
          (onToggleSelectListing)="toggleSelectListing($event, listing)"
        ></ngx-listing-tile>
      </div>
      <!--   (mouseleave)="(listing.id === selectedListing.id) ?
     (selectedListing = null) : null"   -->
      <!-- <div *ngIf="loading" class="loader">Loading...</div>-->
    </virtual-scroll>
  </div>
</div>
