@import '../../styles/themes';
@include nb-install-component() {
  .listing-component {
    z-index: 2;
    position: relative;
    .listing-filter-holder {
      display: flex;
      width: 100%;
      background-color: #fff;
      &.selected {
        position: absolute;
        bottom: 252px;
      }
    }
    .listing-holder {
      virtual-scroll {
        width: 100%;
        height: 136px;
        min-height: 136px;
        overflow-y: hidden !important;
        background-color: #fff;
        &.selected {
          height: 100vh !important;
          max-height: 100vh !important;
          .inline {
            align-self: flex-end;
          }
          background-color: transparent;
        }
        &:hover, &.selected {
          height: 252px;
          max-height: 252px;
          ::ng-deep .listing-tile {
            height: 252px;
            background: #fff;
            background-color: rgba(255,255, 255, 0.9);
            &.selected {
              height: 97vh;
              background: transparent;
            }
            .listing-short-info {
              .listing-header {
                bottom: 0;
              }
              img {
                height: 154px;
              }
              .listing-footer {
                top: 0;
                bottom: unset;
              }
            }
            .listing-medium-info {
              visibility: visible;
            }
          }
        }
        &:hover {
          transition: height 600ms ease-out;
          &::-webkit-scrollbar {
            display: block;
            height: 6px;
            width: 6px;
          }
        }
        &::-webkit-scrollbar {
          display: none;
          height: 0px;
        }
        &::-webkit-scrollbar-thumb {
          background:  #555;
        }
      }
    }
  }
}
